<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>blackjack-game</title>
  <link rel="stylesheet" href="/stylesheets/foundation.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="stylesheet" href="/stylesheets/game_page.css">
  <link rel="stylesheet" href="/stylesheets/welcome_page.css">
  <link href="https://fonts.googleapis.com/css?family=Rye" rel="stylesheet">
  <script src="js/modernizr.custom.js"></script>
</head>

<body>
<%=yield%>
</body>
</html>

# test
