<h1>Welcome to Blackjack!</h1>

<h3>Please enter your name!</h3>
<form action="/play-game" method="post">
  <input type="text" name="name" id="name">

  <button class="btn btn-4 btn-4c icon-arrow-right">Continue</button>
  <button class="btn btn-1 btn-1a">Play</button>
</form>
